li {
  list-style: none; }

a {
  color: inherit; }

@font-face {
  font-family: "Wild";
  src: url("../font/Wild.ttf"); }
#homepage header {
  height: 100vh; }
  #homepage header .bgpourxs {
    margin: auto !important;
    align-self: center;
    max-height: 250px;
    max-width: 380px; }

#general-category header {
  height: auto; }

header {
  display: flex;
  flex-flow: column;
  color: white;
  background-color: #9ac880; }
  header .fixedpart {
    z-index: 5;
    width: 100vw;
    position: fixed;
    background-color: #9ac880;
    display: flex;
    justify-content: space-between;
    min-height: 50px;
    border: 1px solid #9ac880;
    margin-top: 0 !important;
    padding-top: 0 !important;
    top: 0; }
    header .fixedpart #navigation > i {
      font-size: 22px;
      width: 200px;
      margin-top: 10px;
      border-top: 2px solid white;
      line-height: 25px;
      color: #eb5a46; }
      header .fixedpart #navigation > i span {
        font-family: "Wild";
        color: white;
        padding-left: 24px;
        font-size: 2.5em;
        position: relative;
        top: 0px; }
    header .fixedpart #navigation ul {
      margin: 40px auto auto 5px; }
      header .fixedpart #navigation ul .h1dansul {
        font-size: 27px;
        width: 140px;
        position: absolute;
        top: 5px;
        font-weight: bold;
        left: 55px;
        letter-spacing: 2px; }
        header .fixedpart #navigation ul .h1dansul a:hover {
          color: inherit;
          text-decoration: none; }
        header .fixedpart #navigation ul .h1dansul span {
          font-weight: bold;
          font-size: 18px; }
      header .fixedpart #navigation ul .nav-item:hover {
        font-weight: bolder;
        border-left: 2px solid white;
        margin-left: -10px;
        padding-left: 8px; }
        header .fixedpart #navigation ul .nav-item:hover a {
          color: inherit; }
    header .fixedpart nav button {
      left: 0;
      color: #eb5a46; }
    header .fixedpart i {
      transition: 0.2s;
      font-size: 25px; }
    header .fixedpart .wrsocial {
      display: flex;
      position: absolute;
      right: 0;
      width: 120px;
      margin: 5px 20px 0 0; }
      header .fixedpart .wrsocial li {
        margin: 5px; }
      header .fixedpart .wrsocial a:hover {
        color: #eb5a46; }
        header .fixedpart .wrsocial a:hover i {
          transition: 0.2s;
          transform: scale(1.2); }
  header .titrage {
    position: fixed;
    width: 100%;
    z-index: 1;
    text-align: center; }
    header .titrage h1 {
      font-size: 35px;
      letter-spacing: 5px;
      border: 3px double white;
      width: 150px;
      padding: 8px;
      line-height: 30px;
      margin: 2.5em auto 5px auto; }
    header .titrage h2 {
      font-family: "Wild";
      font-size: 58px;
      color: #eb5a46; }
  header .formz {
    color: black;
    position: absolute;
    background-color: white;
    bottom: -28vh;
    z-index: 2; }
  header .bgpourxs {
    width: 100%;
    position: absolute;
    bottom: 0;
    height: auto;
    z-index: 3; }

#rechercheModal, #rechercheModal1 {
  width: 80vw;
  max-width: 400px;
  height: 350px;
  margin: 50px auto;
  padding-top: 15px;
  background-color: #eb5a46;
  border-radius: 20px; }
  #rechercheModal > div > button, #rechercheModal1 > div > button {
    text-align: center;
    padding: 10px 20px;
    color: white;
    font-size: 30px; }
  #rechercheModal .modal-content, #rechercheModal1 .modal-content {
    background-color: inherit;
    border: none;
    font-weight: bold; }
    #rechercheModal .modal-content p, #rechercheModal1 .modal-content p {
      text-align: center;
      color: white;
      font-weight: bold;
      padding: 10px 0 0 0; }
    #rechercheModal .modal-content form, #rechercheModal1 .modal-content form {
      margin: auto;
      display: flex;
      flex-flow: column; }
      #rechercheModal .modal-content form select, #rechercheModal .modal-content form input, #rechercheModal .modal-content form textarea, #rechercheModal1 .modal-content form select, #rechercheModal1 .modal-content form input, #rechercheModal1 .modal-content form textarea {
        width: 200px;
        color: #eb5a46; }
      #rechercheModal .modal-content form textarea, #rechercheModal1 .modal-content form textarea {
        min-height: 90px; }
    #rechercheModal .modal-content .modalpourcommentaire h4, #rechercheModal1 .modal-content .modalpourcommentaire h4 {
      color: white;
      margin-top: -20px;
      border-bottom: 2px solid white;
      font-size: 55px;
      font-family: "Wild"; }
    #rechercheModal .modal-content .modalpourcommentaire ~ button, #rechercheModal1 .modal-content .modalpourcommentaire ~ button {
      position: absolute;
      right: 0;
      top: -30px;
      font-size: 40px; }
    #rechercheModal .modal-content .modalpourcommentaire *, #rechercheModal1 .modal-content .modalpourcommentaire * {
      margin: 5px auto; }

#general-category main {
  margin-top: 3em; }

#derniersbillets article a:hover h3 {
  color: white;
  text-shadow: 0px 1px 1px #eb5a46;
  font-weight: bold;
  display: block;
  font-size: 25px;
  text-align: center; }

main {
  width: 100vw;
  background-color: white;
  z-index: 4;
  position: relative; }
  main article .details-article {
    width: 100%;
    padding-top: 5px;
    display: flex;
    justify-content: space-between; }
    main article .details-article p {
      color: #eb5a46; }
    main article .details-article span {
      color: inherit;
      font-size: 12px; }
    main article .details-article p:last-of-type {
      font-style: italic; }
  main article figure {
    transition: 1s;
    margin: 0;
    position: relative; }
    main article figure img {
      filter: grayscale(80%);
      -webkit-filter: grayscale(80%); }
    main article figure figcaption {
      transition: 1s;
      background-color: rgba(255, 255, 255, 0.7);
      padding: 5px 2px;
      position: absolute;
      overflow: hidden;
      height: 40%;
      bottom: 0;
      width: 100%;
      color: black; }
      main article figure figcaption h3 {
        height: 30px;
        min-width: 100%;
        font-size: 20px;
        margin: 5px 0; }
      main article figure figcaption h4 {
        display: none; }
      main article figure figcaption * {
        color: black;
        opacity: 1; }
  main article a:hover figure {
    overflow: hidden; }
  main article a:hover img {
    filter: grayscale(0%);
    transform: scale(1.05);
    transition: 0.5s; }
  main article a:hover figcaption {
    transition: 0.5s;
    background-color: rgba(255, 255, 255, 0); }
    main article a:hover figcaption * {
      color: rgba(255, 255, 255, 0); }

#art {
  display: flex;
  flex-flow: column;
  width: 100%; }
  #art .similar-article > h3, #art .commz > h3 {
    color: #eb5a46;
    text-align: center;
    width: 95%;
    margin: 2em auto 10px auto;
    font-size: 24px;
    padding-bottom: 0.3em; }
  #art .commz button {
    display: flex;
    background-color: #eb5a46;
    border-radius: 8px;
    padding: 5px 15px;
    margin: auto;
    border: none;
    color: white;
    font-weight: bold;
    box-shadow: 0 1px 2px gray; }
  #art .article-content {
    padding: 15px;
    text-align: justify; }
    #art .article-content img:first-of-type {
      max-width: 170px;
      display: flex;
      margin: auto; }
    #art .article-content img {
      max-width: 400px;
      display: flex;
      margin: auto auto 1em auto !important; }
    #art .article-content span {
      color: #eb5a46;
      font-weight: bold; }
    #art .article-content h3 {
      color: #eb5a46;
      text-align: center;
      border-bottom: 2px solid #eb5a46;
      margin-bottom: 0.5em;
      padding-bottom: 0.3em; }
    #art .article-content h4 {
      font-size: 20px;
      text-align: center; }
    #art .article-content > p:first-of-type {
      font-style: italic;
      background-color: #eb5a46;
      margin-top: 30px;
      padding: 20px;
      color: white;
      border-radius: 10px; }
    #art .article-content img {
      width: 90%;
      margin: 5%; }
    #art .article-content li {
      list-style-type: disc;
      color: #eb5a46; }
      #art .article-content li span {
        color: #292b2c; }
  #art .touslescomms > div {
    background-color: #eb5a46;
    color: white;
    font-weight: bold;
    max-width: 80%;
    margin: 1em auto;
    padding: 10px;
    border-radius: 8px;
    line-height: 20px; }
    #art .touslescomms > div p:first-child {
      display: flex;
      justify-content: space-between; }
    #art .touslescomms > div .textbrutducomm {
      overflow: scroll;
      color: #eb5a46;
      font-weight: normal;
      padding: 20px;
      border-radius: 8px;
      background-color: white; }

footer {
  color: white;
  font-size: 12px;
  background-color: #9ac880;
  border: 1px solid #9ac880;
  text-align: center;
  padding: 15px 0 5px 0; }
  footer p span {
    color: #eb5a46;
    font-weight: bold;
    font-style: italic; }
  footer .nav {
    margin: auto;
    width: 100px; }
    footer .nav .nav-link:not(.active) {
      background-color: #9ac880; }
    footer .nav .nav-item .active {
      background-color: #eb5a46; }
    footer .nav .active:hover i {
      color: white; }
    footer .nav .nav-link:hover {
      color: #eb5a46; }

@media (min-width: 768px) {
  #homepage header {
    height: 60vh; }

  #general-category .fixedpart ul {
    margin-left: 180px !important; }
    #general-category .fixedpart ul .h1dansul {
      display: block;
      margin-top: 2px;
      width: 160px !important;
      text-shadow: 0px 1px 0.5px #eb5a46;
      margin-left: -30px;
      border-right: 2px solid white; }

  #homepage header, #general-category header {
    position: relative; }
    #homepage header .bgpourxs, #general-category header .bgpourxs {
      right: 24%;
      position: absolute;
      max-height: 290px;
      max-width: 400px; }
    #homepage header .titrage, #general-category header .titrage {
      width: 300px;
      left: 15%;
      top: 10px;
      z-index: 4;
      position: absolute; }
    #homepage header .fixedpart ul, #general-category header .fixedpart ul {
      margin-top: 0; }
      #homepage header .fixedpart ul li, #general-category header .fixedpart ul li {
        text-align: center; }
      #homepage header .fixedpart ul .nav-item:hover, #general-category header .fixedpart ul .nav-item:hover {
        font-weight: normal;
        border-left: none; }
        #homepage header .fixedpart ul .nav-item:hover a, #general-category header .fixedpart ul .nav-item:hover a {
          border-bottom: 2px solid white; }
    #homepage header .fixedpart i, #general-category header .fixedpart i {
      border-top: none;
      width: auto;
      margin: 6px auto auto 10px; }
      #homepage header .fixedpart i span, #general-category header .fixedpart i span {
        display: none; }
    #homepage header .h1dansul, #general-category header .h1dansul {
      display: none; }

  header .fixedpart .active {
    text-shadow: 0 0.6px 0.6px #eb5a46; }
  header .wrsocial {
    margin-right: 60px !important; }

  #art {
    width: 60vw;
    display: flex;
    margin: auto;
    position: relative; }
    #art > * {
      width: 100%; }
    #art .similar-article {
      position: relative;
      width: 100vw;
      margin-left: -20vw;
      display: flex;
      flex-flow: row wrap; }
      #art .similar-article > h3 {
        width: 100%; }
      #art .similar-article article {
        width: 33.3333%; }

  #homepage main article {
    width: 33.3333333%; }

  main {
    border-top: 3px solid #eb5a46;
    display: flex;
    flex-flow: row wrap; }
    main article {
      width: 50%; }
      main article a img {
        width: 100%; }
      main article a figcaption {
        padding: 7px; } }
@media (min-width: 992px) {
  main article {
    width: 33.3333%; }
    main article a figcaption h3 {
      color: #eb5a46; }
    main article a figcaption h4 {
      line-height: 10px;
      display: block;
      font-size: 16px; } }

/*# sourceMappingURL=main.css.map */
